# SERVER
SERVER_PORT=3000

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION=1d

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_NAME=upload_files
DB_PASSWORD=

# PAGINATION
PAGE_NUMBER=1
PAGE_SIZE=2

# SEND MAIL
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SERVICE=gmail
EMAIL_AUTH_USER=
EMAIL_AUTH_PASS=
WEB_FORGOT_PASSWORD_URL=http://localhost:3000/password-reset
EXPIRED_RESET_PASSWORD_TOKEN=900000

# DEFAULT ACCOUNT
ACCOUNT_EMAIL=
ACCOUNT_PASSWORD=
ACCOUNT_FULLNAME=
ACCOUNT_ROLE=

# LOGGING
LOGGING=false

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LOGIN_GOOGLE_REDIRECT_URL=http://localhost:1912/auth/google
WEB_URI=http://localhost:3000

# VNPT IDG eKYC
IDG_EKYC_AUTHORIZATION=
IDG_EKYC_TOKEN_ID=
IDG_EKYC_TOKEN_KEY=
